
.play-frame{
    overflow: hidden;

    &.potrait{
        // width: calc(80vh * 0.6);
        height: 80vh;
        video{
            height: 100%;
        }    
    }

    &.landscape{
        width: 80vw;
        video{
            width: 100%;
        }
    }
}