@import '../../../assets/variables.scss';

.tag-container{
    overflow-y: auto;
}

.play-frame{
    overflow: hidden;
    position: relative;
    &.potrait{
        height: 90vh;
        video{
            height: 100%;
        }    

        .left-tag, .right-tag{
            width: 25%;
        }

        .left-tag{
            bottom: 15%;
        }

        .right-tag{
            top: 15%;
        }

        .first-icon, .second-icon{
            bottom: 0.5rem;
            width: calc((100% - 3rem) / 2);
    
            img{
                width: 100%;
            }
        }
    }

    &.landscape{
        width: 80vw;
        video{
            width: 100%;
        }

        .left-tag, .right-tag{
            height: 25%;
        }

        .left-tag{
            bottom: 3rem;
        }

        .right-tag{
            top: 3rem;
        }

        .first-icon, .second-icon{
            bottom: 0.5rem;
            height: 2.5rem;
    
            img{
                height: 100%;
            }
        }
    }

    .left-tag, .right-tag, .first-icon, .second-icon{
        position: absolute;
    }
    
    .left-tag{
        left: 1rem;
    }

    .right-tag{
        right: 1rem;
    }

    .first-icon{
        left: 1rem;
    }

    .second-icon{
        right: 1rem;
    }
}

.col-6{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media all and (min-width: $min-lg-width) {
    .edit-container{
        height: 100%;
        overflow: hidden;
    }
}