.file-control{
    input[type=text]{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: rgb(212,214,218);
    }

    button.input-group-text{
        background-color: rgb(180, 180, 188);
    }
}