@import '../../../../assets/variables.scss';

.icon{
    display: inline-block;
    width: 50%;
    &.selected{
        background-color: $black-color;
    }
    img{
        width: 100%;
    }
}

@media (min-width: $min-lg-width) {
    .icon{
        width: 25%;
    }
}