<svg #svgRef *ngIf="tag" width="100%" height="100%" viewBox="0 0 100 100" 
font-size="0.8rem" font-weight="900" letter-spacing="0.5px">
   <circle cx="50%" cy="50%" r="45%" [attr.stroke]="blackColor" stroke-width="2" fill="#fff" />
   <text *ngIf="tag.topItem" dominant-baseline="central" text-anchor="middle" 
    x="50%" [attr.y]="getVerticalPosition(true)" [attr.fill]="blackColor" dy="0">
       {{tag.topItem.text}}
       <tspan *ngIf="showSecondLine(tag.topItem)" 
        dominant-baseline="central" text-anchor="middle" x="50%" dy="1rem">
        {{getBottomLine(tag.topItem)}}</tspan>
    </text>
   <line *ngIf="tag.bottomItem" x1="10%" y1="50%" x2="90%" y2="50%" [attr.stroke]="blackColor" 
   stroke-width="5" />
   <text *ngIf="tag.bottomItem" dominant-baseline="central" text-anchor="middle" 
    x="50%" [attr.y]="getVerticalPosition()" [attr.fill]="blackColor" dy="0">
       {{tag.bottomItem.text}}
       <tspan *ngIf="showSecondLine(tag.bottomItem)" 
        dominant-baseline="central" text-anchor="middle" x="50%" dy="1rem">
        {{getBottomLine(tag.bottomItem)}}</tspan>
    </text>
</svg> 